{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:muhammad2000ammar@gmail.com">
                    muhammad2000ammar [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/muhammad2000ammar/">
                    @muhammad2000ammar
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/Ammar2k">
                    @Ammar2k
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}